

    <head>
    
        <meta charset="utf-8">
        <title>Chris Hani</title>
        </head>
        <style>

   {}
        body{
            background-color: turquoise;
        }
        
        .block{
            background-color: rgb(153, 157, 161);
            width:100%;
            hight:20px;
        }
        @media screen and (max-width:960px){
            body{
                background-color: turquoise;
            }
        }
        @media screen and (max-width:890px){
            body{
                background-color: pink;
            }
        }
        @media screen and (max-width:670px){
            body{
                background-color: red;
            }
        }
.hide{
    display:none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:purple;
   color: white;
   text-align: left;
}
 
  
 
nav li{
    display: inline-block;
    padding: 10px 40px;
}
nav{ margin: 0%;
    padding: 0%;
    height: 60px;
    width: 100% auto;
    text-align: center;
    color: black;
    list-style:none;
    list-style-type: georgian;
}
</style>



p{color: black;
font-size: 24px;
}  
ul{color: black;
font-size: 20px;
}

h1{
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: gray;
}
 h2{
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: gray;
 }
 body {
    font-family: 'Galada';font-size: 22px;
}
</style>
